/* ALL */
* {
	font-size: 25px;
	font-family: 'Hack';
}

/* body */
body {
	margin: 0;
	background: #363636;
}

/* heading */
.heading {
	background-color: #2b2b2d;
	padding-bottom: 60px;
}

/* Link */
.link {
	float: right;
	margin: 7px 7px 7px 0;
}

a:link {
	color: #0059ff;
	border-bottom: 1px dashed;
}

a:visited {
	color: #ef7d55;
}

a:hover {
	color: #154088;
	border-bottom: 0.07em solid;
}

a:active {
	color: #497ddd;
	border-bottom: 1px dashed;
}

/* Aavatar */
.avatar-upload__holder {
	border-radius: 50%;
}

/* Name */
.channel__left {
	padding: 10px;
	display: flex;
	align-items: center;
	height: 100%;
}

.channel__description {
	color: #ffffff;
	margin-left: 30px;
	min-width: 0;
}

.hbold {
	letter-spacing: -0.04em;
	font-family: ofont.ru_Helvetica Neue;
	font-weight: 800;
}
