/* ALL */
* {
	font-size: 25px;
	font-family: 'Hack';
}

/* body */
body {
	margin: 0;
	background: #363636;
}

/* heading */
.heading {
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: #2b2b2d;
}

/* Aavatar */
.avatar-upload__holder {
	border-radius: 50%;
}

/* Name */
.channel__left {
	padding: 10px;
	display: flex;
	align-items: center;
	height: 100%;
}

.channel__description {
	color: #ffffff;
	margin-left: 30px;
	min-width: 0;
}

.hbold {
	letter-spacing: -0.04em;
	font-family: ofont.ru_Helvetica Neue;
	font-weight: 800;
}

/* link */
a:link {
	color: #ef7d55;
}

a:visited {
	color: #ef7d55;
}

a:hover {
	color: #154088;
}

a:active {
	color: #497ddd;
}

#rec_bloc ul {
	margin: 0;
	list-style: none;
}

#rec_bloc ul li {
	float: right;
}

#rec_bloc ul li a {
	padding: 10px;
	display: flex;
	align-items: center;
}

#rec_bloc ul li img {
	padding-right: 10px;
	height: 35px;
}
